[2018-02-10 20:42] aongxa commented on #251
Thanks for the feedback regarding the flow of matching the clients to consultants, its actually a good point. I've refined the idea so instead so the clients are also able to choose from the best ranked consultants in order to find the best strategists (with premium fees), but they are also able to submit it for open bidding if they want to obtain a wider selection at competitive fee. Users are ab

[2018-02-11 03:53] aongxa opened #252 "Locker0x - Decentralised Physical Storage Network"
## **Locker0x - Decentralised Physical Storage Network**:
![locker0x8930209832](https://user-images.githubusercontent.com/3825708/36062477-40f09040-0e65-11e8-8a30-d8657d545886.JPG)

## **Purpose**:
Imagine a decentralised Amazon Locker or an Uber for storage.

Locker 0x attempts to reimaginine the world's static and mobile physical storage space, from the scale of an industrial parking lot to the

[2018-02-12 16:35] Bradymck commented on #252
This is interesting. I have not seen a decentralized version of what UPS is shooting for: https://www.coindesk.com/ups-might-making-locker-accepts-bitcoin/

[2018-02-12 17:12] Bradymck commented on #251
@PandaHanda I agree, that other coins attempt to dive into this, though I would argue that this should not be a coin, I don't see a purpose. It should however be a market, especially as @aongxa has reshaped how the market works.

This is an open system too, they could launch this now in a centralized way and simply use d0xINFRA to hand governance of the market to the users. I can see this working

[2018-02-16 16:28] leizerbeam commented on #3
hi lkngtn - great idea! i was wondering how you were thinking about the business stages after funding.  Now that a community/organization has raised funds- what next? how would you propose this decentralized org hire their first employees, get their first marketers, write their first whitepaper etc? I have some ideas around this, would you like to discuss?

[2018-02-20 19:13] Bradymck commented on #241
Hey Alex, I wanted to meet back up with you at the event to get you a shirt. Since we didn't can you DM me your address? I'll add you to the distribution list.

[2018-02-24 21:24] aongxa opened #253 "DoubleCheck0x - The 'Fake News' Verification District"
## **Name**:
DoubleCheck0x - The 'Fake News' Verification District

![23223242](https://user-images.githubusercontent.com/3825708/36635196-d73d9d1a-19a8-11e8-9989-91403c432dad.JPG)

## **Purpose**:
Fake News detection in our age is an extremely time consuming task. In fact, imagine an decentralised network for verification of fake news and a creation of a market to  verify the authenticity of publ

[2018-02-28 21:07] Bradymck commented on #253
Be sure to click the label I added to see the other similar projects.

[2018-03-04 02:41] Hibero opened #254 "Frontpage - A Decentralized Forum Platform"
## **Frontpage - A Decentralized Forum Platform**:

## **Purpose**:
Frontpage is a decentralized forum service with the intention of incentivising users to create valuable content and successful moderation of the forums while providing penalties to malignant users or trolls.

## **Description**:
Frontpage uses a group of smart contracts to allow creation and moderation of forums and fostering crea

[2018-03-05 16:27] fengkiej commented on #94
Hey, I just stumbled upon the similar concept to this last few days. But it is kind of different in several aspects. Tell me what you guys thought on my concept.
There are two tokens to be used in the district: DNT and journalToken (can be renamed to anything)

1. DNT can be staked to the district, it serves two purposes: to govern the district and to earn or mint journalToken.

2. New journalToke

[2018-03-05 23:25] lkngtn commented on #3
@leizerbeam Definitely lets chat, how can I contact you?

[2018-03-11 20:36] Bradymck commented on #254
Nice. Great to see progress on the checklist. Have you thought about setting open bounties for this?

[2018-03-11 21:28] Hibero commented on #254
This has been a bit of obsession of mine over the last week but I finally feel that I'm nearly done with the large brush strokes. Making it into curation markets wrapped around by a TCR has been fun lol

I plan on reading through the proposal, polishing off certain aspects, and creating rough contract layouts this week. I think the Week of the 18th "I'll put my money where my mouth is" and create

[2018-03-14 23:59] Bradymck commented on #254
As far as Plasma is concerned. Can you elaborate on what you mean by pushing the architecture in that direction? Is there something specific you want to do that payment and state channels won't do right now?

[2018-03-15 07:04] dliuproduction commented on #178
To make this district function as a market, we could have two types of users, Traders and Authenticators.

The buyer stakes some amount of token while the seller stakes some amount of tokens representing the valuation of their sneakers.

If either parties back out of a trade, the contract deducts their token and awards the other party.

While their token is being held as deposit, this large token

[2018-03-15 22:45] Hibero commented on #254
I was thinking that if each post, comment, and "like" were over the Ethereum Main Network they may cause heavy contract usage (state changes). Maybe I missed something but I thought state-channels were restricted to actual transactions.
I do know that there are ways to do ERC-20 token state-channels, so I guess for "likes" that could be doable but I have been rethinking the whole "like" implementa

[2018-03-16 23:21] Hibero commented on #254
Mike Goldin gave some good insight into using the Plasma architecture. I'll need to look into it more as we farther in smart contract development.

[2018-03-18 12:56] BenjaminBtc opened #255 "SwagStation0x"
SwagStation0x

To provide decentralized communities a marketplace for buying and selling blockchain related merchandise and memorabilia.

Operation of the district will be conducted in both an auction like fashion where users can place a “best bid price” in addition to a straightforward “buy” option where users can purchase selected merchandise at the sellers “listed price.” District0x DNT token w

[2018-03-21 16:56] Bradymck commented on #255
Hey @BenjaminBtc I wanted to drop this link here as a solution to many of the issues with physical goods on decentralized markets: https://medium.com/witnet/making-p2p-marketplaces-completely-trust-less-with-district0x-and-witnet-ed71323c56b5

It may help make this proposal more robust and interesting if you want to rewrite with witnet as a core tool.

[2018-03-23 20:04] BenjaminBtc commented on #255
Brady,

Thanks so much for the suggestion and sending this link! Looks like an amazing tool. I am going to work up an edit to the proposal to incorporate witnet.

Best regards
Ben

Sent from ProtonMail Mobile

On Wed, Mar 21, 2018 at 12:56 PM, Bradym <notifications@github.com> wrote:

[2018-04-05 06:19] foldamer commented on #3
@lkngtn we are deploying a collaboration gym concept s2sreactor.com and 1Hive describes pretty much the token enabler we would like. Can we diacuss?

[2018-04-07 18:02] kunfud opened #256 "Lumiversity"
## **Name**:
Lumiversity

## **Purpose**:
Cultural and pedagogical oracle for Smart Social Cities and allowance to have a physical and responsible presence within each activity.

## **Description**:
Our district shall encourage the real estate for cultural and pedagogical proposes. Users can provide their free real estate assets to be occupied by masters. Users shall select and approved the ideas

[2018-04-07 20:28] nginnever commented on #254
State Channels are not necessarily limited to balance state, however it is unclear how useful it may be for other types of state. State channels are primarily useful when you have a system where consensus on the state can be broken away from the main-chain and reduced to unanimous consensus between a finite N parties (unanimous consensus implies N can't get very large due to signature reconstructi

[2018-04-18 19:14] Iteratix commented on #256
I had a similar idea to this. I think this has a lot of promise. Geofencing can be used to show that attendees and masters are actually in the space. This would mean we need to add a check-in feature to district0x.

I would also suggest considering the inverse; that attendees could converge on a specific physical location to report, verify, or otherwise do some kind of activity at that location an

[2018-04-18 19:57] kunfud commented on #256
Thank you so muuuuuch. In fact the main use case is the attendees who converge physically and do activities approved for the social environment. We have covenant now with a conceptual company Smart Social Cities. http://smartsocialcity.com/en/ with wioch our aim now, is to be helped by the district0x and develop/deploy the coding properly, but together with everybody cause the artists and patronag

[2018-04-20 19:30] kunfud commented on #256
We have accommodated four stratus or compartments onto Lumiversity Cyberspace:
1. LumiSapiens
2. Lumitrust
3. Lumimedia
4. DAO Lumiversity which we are running tests at Aragon.

For lumiversity, Lumimedia is the entertainment production industry of our District0x and there are already two active providers to help the proof of concepts user experience and testing. We will post herein referral to fo

[2018-04-21 09:27] kunfud commented on #256
Thanks to a JV between http://smartsocialcity.com/en/ (Smart Social City)
http://www.gkcenergy.com/xe/?mid=a1_en (GKC) and http://www.kunfud.com/ (Kunfud®) Lumiversity is approved as the oracle for entertainment and cultural deployment reaching position for four continents. Partnerships and international relationships are established to deploy Lumiversity´s value.
We are performing a short term ac

[2018-04-21 10:44] ykgoon opened #257 "QuantCollab - Match-making traders and coders"
## **Name**:

QuantCollab - Match-making traders and coders

## **Purpose**:

Match-making between quantitative traders/researchers/analysts with software developers to collaborate on producing trading algorithms.

## **Description**:

It takes a variety of skills to produce money-making trading algorithms. These skills may include data-science, risk-management, quantitative analysis, software eng

[2018-04-23 20:09] Bradymck commented on #256
@kunfud can you explain more about the entertainment and production side of things? I'm curious.

[2018-04-24 01:12] Bradymck commented on #257
Interesting. I like this, a token registry for developers, reputation staking, or even traditional legal solutions could fix the issue here. I'm not entirely sure what the legal ramifications of this type of market could be so I'm not sure what solutions would be best.

What do you think about a token registry for bot developers?

Surely the trader won't leak the bot and if the bot is found in the

[2018-04-24 08:01] ykgoon commented on #257
@Bradymck thanks for chiming in.

Be that it may, I think we shouldn't make that assumption as a rule of thumb.

I only get a vague sense of what this means. Is any an analogy to this, or something that is practiced by other crypto projects?

I just looked at stiffs.com and I get the moral hazard you mean, but I fail to relate it to this proposal.

[2018-04-24 12:16] kunfud commented on #256
[Logos´design evolving.zip](https://github.com/district0x/district-proposals/files/1942658/Logos.design.evolving.zip)

[2018-04-26 16:30] devloepr1 opened #258 "DecentTRIP, Decentralized tour & activities marketplace"
## **Name**:
DecentTRIP

## **Purpose**:
Create a marketspace for bringing travellers and tour operators (companies and individuals) together.
Ensure quality by stakeholders and customer reviews.
Get rid of huge commissions of the middle man(15-40% just for online booking), bring quality activities to users, purely based on customer reviews instead of sponsors.
Let tour operators take reservations

[2018-04-27 21:45] nginnever opened #259 "Gaming District"
## **Gaming District**
The gaming district is a community of devs, modders, hackers, and gamers, competing and uniting to create and experience new games. A district0x and Finality Labs collaboration.

## **Purpose**:
To imagine and practically implement immersive, expansive, and inclusive gaming experiences. To coordinate those that are most invested in the games they play and allow them to decid

[2018-04-27 23:12] Bradymck commented on #259
In terms of proposals for tokens owning other tokens and interoperability, where is the best place for me to keep up on this conversation?

This really interests me, especially as it pertains to funding bounties and payment splitting. I want to eventually fund bounties with my music by creating this type of structure but don't know where to begin.

[2018-04-27 23:14] Bradymck commented on #259
Also, did you say you had a discord channel created that people can join?

[2018-04-28 11:52] kunfud commented on #256
Sure @Bradymck , things are able to have SSI unless a derived from the owner of the things or subjects, but also process generates a digital spectro. Focus on the entertainment and production industry We have already approved two proposals, one it is a game for collectors like Art, let´s say the art of things or things on crypto-art. Other is a film, and Lumiversity at Lumimedia wants to create th

[2018-04-28 11:54] kunfud commented on #256
Sure @Bradymck , things are able to have SSI unless a derived from the owner of the things or subjects, but also process generates a digital spectro. Focus on the entertainment and production industry We have already approved two proposals, one it is a game for collectors like Art, let´s say the art of things or things on crypto-art. Other is a film, and Lumiversity at Lumimedia wants to create th

[2018-04-30 02:06] nginnever commented on #259
Here is a list of ERCs that I know of that are related in some way to Ethereum state owning other state. This seems to be a long discussion with no clear protocol yet, but an active area of our research:
  - [erc667](https://github.com/ethereum/EIPs/issues/677) approveAndCall()
  - [erc780](https://github.com/ethereum/EIPs/issues/780) - Claims Registry
  - [erc994](https://github.com/ethereum/EIPs

[2018-05-03 06:04] Yiannis1110 opened #260 "Modern Lifestyle Supply (MLS)"
## **Name**:
Modern Lifestyle Supply (MLS)

## **Purpose**:
Bar/Restaurant owners find their needs of alcoholic beverages on a friendly user marketplace. Products from many suppliers/distributors are listed such as whisky, vodka, wine, beer, gin, brandy etc. Fast, efficient and trustworthy space for both, buyers and sellers. Not anymore pending account receivables and endless negotiations for paym

[2018-05-03 07:30] Yiannis1110 commented on #260
Please feel free to give your opinion and advises. I am here because PayPal didn't allow me to use their payment gateway. They said, they are not supporting hard alcoholic beverages into their system(policy). I hope I can find some more information here. Thanks a lot

[2018-05-03 07:35] Yiannis1110 commented on #260
The Institute of Alcohol Studies has estimated that the production and sale of alcohol was worth £46 billion to the UK economy in 2014. Global Alcoholic Beverages Market was valued at $1,344 billion in 2015, and is expected to reach $1,594 billion by 2022, registering a CAGR of 2.1% from 2016 to 2022.

[2018-05-04 04:12] har00ga opened #261 "Vesta District - A Decentralised, User-Driven Social Network"
# **Vesta District - A Decentralised, User-Driven Social Network**
Inspiration: Vesta is the Roman Goddess of hearth, home and family.

## Purpose

These days, the mere mention of social networks can make ones skin crawl with visions of pervasive data collection, poor development roadmaps and being forced to knees by the whims of the masters.

The proposal for this district is the first user-drive

[2018-05-06 14:53] jhabdas commented on #261
If implemented it'll usernames can't be squatted as with Twitter or Peepeth. Discourse seems to have a good solution to this problem. Also, attention should be paid for and data protected in such a way privacy policies become a thing of the past.

[2018-05-06 14:54] jhabdas commented on #261
If implemented please see to it usernames can't be squatted on as with Twitter or Peepeth. Discourse seems to have a good solution to this problem. Also, attention should be paid for and data protected in such a way privacy policies become a thing of the past.

[2018-05-08 01:56] har00ga commented on #261
@jhabdas Agreed on the usernames. I also like Discords naming system, it's similar to how gaming companies like Blizzard have done tags for years. It not only allows people to have the name they actually want, but also enables dynamic changing. This would be a big plus for security.

A process could also be implemented to give someone a fresh number / name at the same time, allowing them to receiv

[2018-05-08 18:25] Bradymck commented on #257
Apologies for the delayed response.

Let me clarify. Basically, a token registry could be something similar to the game Crypto Celebrities, which lets you speculate on the popularity of an individual as an ethereum based token.

As far as a registry it takes this type of crypto economic game a step further and allows a community of token holders to dictate what becomes a token through an incentivi

[2018-05-10 01:57] russwfranklin opened #262 "Linnks - The Worlds First Crypto Scavenger Hunt"
## Name:
Linnks - The Worlds First Crypto Scavenger Hunt

## Purpose:
Drive traffic and educate individuals with our gamified offer wall.

## Description:

Our platform is based on a revenue-generating model that helps promote new and existing online content by way of a gamification. However Linnks overarching goal is to provide a means to better educate individuals on the services provided within

[2018-05-10 19:18] Bradymck commented on #262
Oh nice, I really like this, it's a decentralized helpdesk for the overall community. This could go a lot further too as a general help desk for the whole industry. Would be nice to sandbox things in districts firs though.

I hope we can get some clarity on how we need to operate so you can do the fund distribution among participants without regulatory issues. This is coming, I give it a couple mo

[2018-05-13 16:07] Nine27 opened #263 "shelf - decentralized fan fiction"
removed

[2018-05-15 02:14] Legionof7 opened #264 "Token Curated Registry for Media Sites"
## **Name**:
Token Curated Registry for Media Sites
This is a terrible name but and I'd love better suggestions :)

## **Purpose**:
This TCR has two purposes.

1. List sites that use legitimate information/data in writing their stories and opinion pieces.

2.Reveal the general political leaning of news sites. In other words, transparency is the new objectivity. No news site can be free of bias, bu

[2018-05-15 04:49] Bradymck commented on #263
Do you have a tag preference here?

[2018-05-15 04:51] Bradymck commented on #264
Great proposal. Anything that benefits those outside the direct participants is a great TCR

[2018-05-15 15:35] Nine27 commented on #263
I think one or both of the following: #fanfiction #publishing

[2018-05-15 17:50] Alternating opened #265 "Real estate NNN-leasing"
## **Name**:
RealEstateNNN

## **Purpose**:
The purpose is to gather like minded individuals that want to purchase a real estate property under a NNN leasing agreement.

## **Description**:
The district would lease real estate eligible for NNN leasing. There would be a limited availability to purchase the lease via token. Lets say 100k dollar property would require 100k tokens. One person could pu

[2018-05-15 19:26] Bradymck commented on #265
I think it's interesting now that real estate is migrating to the blockchain. As soon as 'true' micro payments are established and standardized I can see a future where people own real estate for hours or even minutes trading and speculating on tokens that represent those assets. Fascinating to think about.

[2018-05-15 19:27] Bradymck commented on #263
You have put a lot of work into this, how long have you been working on this?

I have yet to read the full white paper though. I'll comment more when I do.

[2018-05-15 21:37] Bradymck commented on #264
@Legionof7 I agree, looking at political leaning from right and left lacks dimension. I'm curious, what's your opinion of tools like this: https://mediabiasfactcheck.com/cctv-america/

[2018-05-15 21:37] Bradymck commented on #264
You as well @imdying ^

[2018-05-15 21:46] Legionof7 commented on #264
I like the Mediabiasfactcheck site though I have seen complaints (that I haven't fully looked into) about it. The issue with these centralized solutions is that even if they are completely fair (which isn't possible), people still won't trust it. It's hard to say that a decentralized solution isn't trusted unless all the tokenholders were strongly biased one way (and they're economically incentivi

[2018-05-21 15:31] Arock11 commented on #265
Cool ideas and this project would probably work better than non-blockchain based crowdfunding real estate communities like AlphaFlow https://www.alphaflow.com

You may like to check that website out to get ideas concerning the legal contracts and statistics concerning the average R.O.I. for past attempts of crowdfunding real estate

[2018-05-22 18:54] Bradymck commented on #265
@Arock11 Oh great! thanks, I will check it out. The legal and regulatory questions for blockchain based real estate are interesting, to say the least. So many angles and possibilities for micro-ownership.

[2018-06-02 19:48] uvizhe commented on #94
FYI here is another project of the kind I stumbled upon today: https://orvium.io/

[2018-06-03 18:54] Bradymck commented on #94
Hey thanks for the share @uvizhe. I guess this project is more so geared towards the scientific research community though I do think the model could be fairly generalized for any content.

[2018-06-07 10:53] kunfud commented on #256
Our next step is a challenge-community step with which we are making the proposal for a web-design page, anyone who would like to design lumiversity® web shall participate into the challenge which Lumiversity® will compensate with LumiSapiens. Principles and values will be posted herein, restrictions and limitations are going to be in the main repository at https://github.com/kunfud/Lumiversity wh

[2018-06-07 11:02] kunfud commented on #256
Between our modeling and with the aim of a Decentralized Autonomous Organization:
DAO Lumimedia
DAO Lumisapiens
DAO Lumitrust
DAO Voynich
Are under testing within https://aragon.one/

[2018-06-07 11:06] kunfud commented on #256
DAO Voynich is essential for Production and Entertainment at Lumimedia´s Compartment which is running three MVP for our district0x 256. One film, one cryptoArt product and one App. More details shall be announced very soon.

[2018-06-11 02:38] himalayajung commented on #94
Thank you @uvizhe and @fengkiej . It is good to see other non-profit projects trying to improve scientific research using internet3 tech. Open Science Organization (OSO) is always open to collaboration and it would be great to synergize. Please feel free to reach out to us at contact@oso.network. This is our github page https://github.com/open-science-org

And yes, personally I tend to agree with

[2018-06-14 02:00] russwfranklin commented on #262
**Update** So I trimmed out the helpdesk portion of this district (which was the entire description - will replace that later). I really want to focus more on how to gamify DApp exploration, and ultimately lead to meaningful discovery.  We would model after "earn.com" except not in a bounty or task sort of way. The Linnks district would prominently push towards a more "tournament" style and cater

[2018-06-14 16:37] Bradymck commented on #262
Ahh nice. Updated tag.

[2018-06-17 03:15] radioactivedrummer commented on #254
If this is similar to Steemit but without the weighted mechanism I'm all for it.  With all the EOS and LISK drama going on, I've been thinking that DPOS isn't the best method for social networks.  There is a better way for a monetized reddit and this could be the answer.

[2018-06-19 16:42] Bradymck commented on #254
If I understand the structure, it's more of a granular TCR, so if you want to post a thread of any kind you have to put up a token deposit and if it's spam you could lose that deposit to the person who is challenging that post as "spam". Them everyone votes to add it to the forum or not.

This seems like it would be useful but a very slow way of operating a forum because of the challenge and votin

[2018-06-26 17:59] PerryEdu opened #266 "ReachWeb Advertising or District0x Web Advertising"
**Name**
ReachWeb Advertising or District0x Web Advertising

**Purpose**
The purpose of ReachWeb will be to enable district marketplaces to advertise, generate traffic and increase exposure for the district. It will also provide a platform for any other companies or individual to advertise.

**Description**
_Advertising_
The site will feature two types of advertising: _Classified ads_ and _article

[2018-06-27 19:40] PerryEdu opened #267 "AdTeachX International - Making Online Education Better"
# Name
AdTeachX International

# Purpose (see financial incentives for participating community below in description)
The purpose of AdTeachX is to provide an opportunity for educators worldwide to offer substantive courses and for students to gain quality training or education at affordable prices. There are numerous unemployed or underpaid teachers worldwide who are seeking opportunities to suppl

[2018-06-27 20:20] PerryEdu commented on #265
Hello,
I find your idea interesting but for someone not familiar with real estate it needs more clarity. Your description needs expansion to explain exactly how it would work and what protection people would have with this kind of investment?
Specific details of how it will be set up would also be helpful (step by step process if finalized).
It looks like an idea worth further consideration.

[2018-06-28 07:07] PerryEdu commented on #258
I know Airbnb and have used it and it has a huge market. Your idea is an excellent one. I have often been on holiday and arrived in a place and started asking what there was to do. Often hotels will have brochures, but locals have the most knowledge and often some of the best activities in an area are not discovered or known about by visitors.
I think you have a winning idea here. Like airbnb memb

[2018-06-28 07:08] PerryEdu commented on #258
One more comment
I think you need to have a better name like "What to do on Your Trip"

[2018-06-28 07:23] PerryEdu commented on #250
Hello,
I think you have an excellent idea with a great deal of potential. However, I do think it needs more thought on specific applications. I also see an opportunity for income for numerous individuals set up businesses.
Your phase 01 categories need elaboration.
_Real Estate:_ Some ideas that you have not included may be for real estate use. An actual 3D video of a property with video footage a

[2018-06-28 08:06] PerryEdu commented on #250
Hello again
Another great application would be the tourism industry - huge
Use case: A family is on holiday somewhere and they will be visiting a historic site or a specific location. They want to send a video to friends and family but something different. They book a time and describe what they will be wearing - the drone arrives and videos the location and the people waving (close up and far awa

[2018-06-28 08:20] PerryEdu commented on #247
Hello
I think you have a great idea here. To my knowledge such a service does not exist; however, I think that what you are proposing needs more thought and some real-world examples, not just theory. More research would need to be done on the topic to develop categories for clients to search. I personally do not know a great deal about the subject but I do know that it will have a major impact on

[2018-06-28 08:29] PerryEdu commented on #246
This sounds like an interesting idea but it needs to be elaborated with real-world examples for each stage. For the non-technical individuals like myself with limited understanding of cybersecurity, it is a little difficult to conceptualize.
How would this compare or be an improvement on existing products and companies who offer these services?
Best regards

[2018-06-28 08:45] PerryEdu commented on #235
Hello
You have a great idea but there are several new blockchain startups doing it already, for example, Nexo. However, they seem to be charging high-interest rates similar to western banks.
I think that there is still an opportunity here to use crypto assets as security for fiat loans if the interest changed is low, for example, 3-6% maximum. This interest structure would benefit poorer people an

[2018-06-28 08:51] PerryEdu commented on #214
I think you have a great idea. It is time for some real competition to Amazon and Kindle.
With regard to authors - they receive very little of the royalty with traditional publishing and for this reason, very few authors can make a living from writing. Maximum royalties could change this and enable many more talented writers to live their dream.
Your proposal has huge potential. I would vote for i

[2018-06-28 08:58] PerryEdu commented on #207
Hello
Your idea is a good one but there are numerous companies that already exist where papers are available for purchase, for example, Grin Publishing https://www.grin.com
Best regards

[2018-06-28 09:13] PerryEdu commented on #206
Hello
I like your idea but it may need some adaption to work. You are talking about companies that charge $10 an hour. Why not set up a company that charges $3-5 for 45 minutes. There are many countries where students could never afford $10 an hour.
Why not change the name to StudentTutor0x (possibly). Create a business where students tutor other students. For many students in poorer countries ear

[2018-06-28 09:35] PerryEdu commented on #145
Hello
I like your idea but I am not sure how practical it is for all your suggestions due to the impossibility of verification. Even the banking one could be cheated if the individual gets friends to put money in his account and then shares the winning bet money with them.
However, I still like your idea as a motivational tool but a way to make it work is the problem unless you change something.
I

[2018-06-28 15:19] RMBLRX commented on #214
Just a few thoughts that I brought up to Publica, but could also apply here (since they may have fallen on deaf ears over there anyway):

Most forward-thinking publishing platforms of all stripes allow for paying extra in any given sale by way of a slider.  As far as I'm aware, most if not all of these platforms offer a flat royalty rate from any extra that's given, just as they do from the list p

[2018-06-28 17:34] Bradymck commented on #267
So in a nutshell this would be a MOOC platform is this correct? If so, can you describe how this would be different than platforms like Udemy or Skillshare?

If it's more like a platform similar to Coursera and Khan Academy, how would you justify people paying fees (especially in Ethereum) when there are free alternatives?

The costs and benefits of using crypto need to be fleshed out here. Paymen

[2018-06-29 04:14] RMBLRX commented on #214
Oh, absolutely this could work for all sorts of content. It has crossed my mind that there's plenty of potential overlap, but I do imagine books being the easiest place to start.

To be clear though, the badge/tokenization thing is nothing new, but I do believe it's emerging as crucial standard in this space. What's to be done with badges, however, is still a wide open field, and I think you're on

[2018-06-29 09:34] PerryEdu commented on #267
Brady,
Thanks for taking time to provide feedback. I have read through your comments and tried to incorporate your ideas as best a possible. In response to all your questions, I have written a _second draf_t of the initial proposal with some adaptions and additions, in an attempt to answer them. Best regards

[2018-07-02 15:37] SuperNakamoto opened #268 "Skydar : Decentralized P2P Real Estate Marketplace on district0x."
## **Skydar**:

## **Purpose**:
Skydar is on a mission to develop a real estate marketplace that is better and more efficient than the existing one.  The residential real estate is currently a $162 trillion market.  More and more people are willing to temporary rent their residences in order to earn passive income.

## **Description**:
Currently, the fee for listing temporary accommodation facilit

[2018-07-08 17:40] whalepanda92 commented on #268
Can definitely see the upside with this potential district. When you you say it will be a TCR will it be similar to Meme Factory style?

[2018-07-16 00:20] SuperNakamoto commented on #268
Hi Whalepanda92,

Yes, there will be voting rounds in which community members can participate in how they want the district to run, and after each round it will mint new tokens (Skydar) in proportion to the amount of DNT you staked.

[2018-07-16 13:14] marPunk opened #269 "MarPunk73"
## **1M**:
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Working Together**:
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **I want to build are new apps can give us are new future to working in this ideas**:
Describe how the district should operate in detail. Incl

[2018-07-17 18:50] #269 closed

[2018-07-18 01:45] pjleimgruber opened #270 "dMMA - Decentralized Mixed Arts League"
![dmma](https://user-images.githubusercontent.com/34953001/42854569-b497e95a-8a3c-11e8-8e71-02250db02df5.jpg)

## **Background**:
Mixed martial arts (MMA) is a full-contact combat sport that allows striking and grappling, both standing and on the ground, using techniques from other combat sports and martial arts. Professional mixed martial arts (MMA) is dominated by a few different independent org

[2018-07-20 10:28] Trvllah opened #271 "Demos0x: allowing anyone to organize a free, fair and safe election on any issue"
## **Name**:
Demos0x

## **Purpose**:
Demos0x is a voting district that allows for a secure, private and cheap way to hold an election, referendum or other kind of vote using blockchain. Demos0x makes it possible for a public or private organization, individual or government to let a certain group of people decide on a particular issue.

## **Description**:
Demos0x is a district that makes voting

[2018-07-24 01:32] Bradymck commented on #271
Unless I'm missing a key structure of the marketplace component, this sounds more like a basic function that will be offered within Aragon. Can you clarify how this marketplace will function as well as how the anonymous voting feature would work?

If you can clarify how this functions as a marketplace and the differentiation between Aragon governance features I can keep this open. Though as it sta

[2018-07-24 09:18] Hibero commented on #254
@radioactivedrummer @Bradymck

Sorry about not replying earlier. Currently on a sabbatical of sorts.
So in the implementation I try to describe above, accounts that want the ability to post threads or comments would need to have a stake. That stake would be specific to that subreddit or "sub"-forum. The moderators of that subreddit can take that stake at any point if they deem it to be against the

[2018-07-31 14:29] Bradymck commented on #271
The ‘Elaborate’ tag has now been added. If you would like to add more detail or development we can reopen. After you have developed your idea more, you will need to reach out to me directly on Slack, Telegram, or Reddit to have it reopened.

A closed proposal will only be reopened if a significant amount of effort has been put into developing the idea. A sure fire way to get your proposal reopened

[2018-07-31 14:29] #271 closed

[2018-07-31 15:20] Bradymck commented on #264
Hey @Legionof7 I'm starting up a new way to curate proposals for our district spotlight blog post. I'm going to be diving into your proposal a bit more on stream. Though I'm doing it in a way that allows the stream viewers to curate the blog post rather than me. Stay tuned. I'll give you news soon.

[2018-07-31 15:23] Dlstrictox opened #272 "Test proposal, delete me"
## **Name**:
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**:
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **Description**:
Describe how the district should operate in detail. Include relationships between the district and users, tokenholders, and any othe

[2018-07-31 15:32] #272 closed

[2018-07-31 15:39] Bradymck commented on #270
This seems hard to pull off in the real world because of all the politics but I almost want this as a celebrity deathmatch TCR. We could make it into a rare collectible game or integrate ideas from proposal #189 (Suplex). May be a fun marketplace if using real-world likeness of people.

[2018-07-31 16:12] Bradymck commented on #270
Going to do something a bit different with the spotlight soon, we may dive into #189 (Suplex) a bit more and see what it would take to merge ideas if I can get the creator to be active. I'll let you know if we do so you can watch.

Today's stream will be a dive into how I will curate the new spotlight article and taking feedback on the new process. I held off on doing too many until I had a better

[2018-07-31 16:17] Bradymck commented on #270
Test

[2018-07-31 16:25] Bradymck commented on #270
Hello Slack

[2018-07-31 16:55] Dlstrictox commented on #270
hi

[2018-07-31 16:57] Dlstrictox opened #273 "delete me"
## **Name**:
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**:
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **Description**:
Describe how the district should operate in detail. Include relationships between the district and users, tokenholders, and any othe

[2018-07-31 16:58] Dlstrictox commented on #273
hi

[2018-07-31 17:25] #273 closed

[2018-07-31 17:37] Bradymck commented on #270
test, sorry for the spam PJ. 😛

[2018-07-31 17:47] Bradymck commented on #270
test

[2018-07-31 18:30] Bradymck commented on #270
test

[2018-08-01 05:26] Legionof7 commented on #264
Important Note:This is _not_ a community. Some people have come to me and have been confused by this. The purpose of this isn't to create a platform with all the functions that a community should have. Avsa wrote this which I think covers communities pretty well:https://docs.google.com/document/d/10JfZ-6TC48lDqhJh_lGqIBu5KgcuHHYwdd0vo1pD59Y/edit

This should be a tool to allow discussions within c

[2018-08-06 15:50] Bradymck opened #274 "Delete Me"
## **Name**:
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**:
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **Description**:
Describe how the district should operate in detail. Include relationships between the district and users, tokenholders, and any othe

[2018-08-06 15:53] AlvinLiangUSC commented on #274
The ‘Elaborate’ tag has now been added. If you would like to add more detail or development we can reopen. After you have developed your idea more, you will need to reach out to Brady directly on Slack, Telegram, or Reddit to have it reopened.

A closed proposal will only be reopened if a significant amount of effort has been put into developing the idea. A sure fire way to get your proposal reope

[2018-08-06 15:54] #274 closed

[2018-08-11 06:53] Bradymck commented on #270
test

[2018-08-11 06:55] Bradymck commented on #270
test

[2018-08-19 00:34] hkalptb opened #275 "Quanle"
## **Name**: Quanle
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**:
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **Description**:
Describe how the district should operate in detail. Include relationships between the district and users, tokenholders, and a

[2018-08-19 03:54] #275 closed

[2018-08-19 10:48] kunfud commented on #256
We are working hard to provide our progress since we started building out the marketplace, our next step will be announce very soon to encourage people to vote our district. We are envisioned and proud of our evolving thanks to our entrepreneurship´s recognition at ITU as Global Initiative for Social and Sustainable Impact., https://www.itu.int/en/wtisd/2016/Pages/initiatives.aspx?View=%257Bdcce6b

[2018-08-21 06:46] kunfud commented on #256
[MANIFESTO LUMIVERSITY v.18.pdf](https://github.com/district0x/district-proposals/files/2305115/MANIFESTO.LUMIVERSITY.v.18.pdf)
[Code of Conduct.pdf](https://github.com/district0x/district-proposals/files/2305116/Code.of.Conduct.pdf)

[2018-08-21 14:27] Bradymck commented on #256
Hey @kunfud glad to see some progress here. Do you have these documents on Github open to contributions or PRs? I noticed a few typos. It may be a great way to get people involved if you have these in a format or platform people can openly contribute towards.

Also, I was curious, how do you see this marketplace playing out as a minimum viable product? I would love to see some mockups or a screens

[2018-08-21 18:27] kunfud commented on #256
Thank you very much @Bradymck for your recommendations. We have just open de docs on Github for contributions. On regards on the marketplace we have a clear idea and we are on it, we will review your suggested tools and let the community know about it as well because we will do an open competition with some parameters and limitations as well. We are keen to start competition by September and rewar

[2018-08-21 19:15] Bradymck commented on #256
Sounds good. I look forward to seeing progress

[2018-08-26 17:10] #263 closed

[2018-08-26 17:13] Bradymck commented on #263
Hey, are you moving forward with this on your own instead of waiting for the votes?

Just saw you close it. Keep in mind, after our network is more developed, you can always come back and submit it to the registry. Hope to see you back.

[2018-08-26 17:15] Nine27 commented on #263
Hey! Yeah, moving forward on my own :)

[2018-08-26 17:17] Bradymck commented on #263
Would love to see this develop, can you drop some community links for people to join if they are interested?

[2018-08-26 17:34] Bradymck commented on #263
Also, in terms of gaining traction with votes, moving forward independently is a major step towards gaining attention and votes. I'll ping you in Telegram to chat a bit more.

I have some ideas that may help and some new initiatives I'm working on.

[2018-08-26 17:35] Bradymck commented on #263
Ahh I see your ping. Messaging now

[2018-08-29 23:05] myhndl commented on #246
The coherent parts of this proposal are plagiarized from PolySwarm's whitepaper: https://polyswarm.io/polyswarm-whitepaper.pdf

Examples of plagiarism:
1. `...encourages rapid innovation in the lucrative anti-virus and automated cyber threat intelligence space with precise economic incentives that reward timely and accurate threat intelligence concerning...` - lifted directly from PolySwarm's whit

[2018-08-30 00:09] Bradymck commented on #246
@myhndl Hey interesting thanks for pointing out. See now, if the TCR ([The District Registry](https://education.district0x.io/district0x-specific-topics/understanding-distict0x/the-district-registry/)) was live you could have nabbed some money for this find! 🤣

We are going to be migrating all these over to the District Registry after we launch. Getting closer too, our TCR design pattern is about

[2018-08-30 00:09] #246 closed

[2018-08-30 14:53] Bradymck commented on #270
Sorry PJ testing one more thing out. I use your proposal as a test so I don't spam community members. 😆

[2018-08-30 19:51] #214 closed

[2018-08-30 19:51] #252 closed

[2018-08-30 19:51] #247 closed

[2018-08-30 19:52] #250 closed

[2018-08-30 19:52] #251 closed

[2018-08-30 19:52] #253 closed

[2018-08-30 19:56] aongxa commented on #250
Hi @Bradymck was this closed in error?
I would have thought this was a legitimate original proposal.

[2018-08-30 19:57] aongxa commented on #247
Hi @Bradymck was this closed in error?
I would have thought all the other proposals are legitimate and original with the exception of the polyswarm idea which was a mistake on my part.

[2018-08-30 20:03] aongxa commented on #214
@Bradymck Please reconsider status of this as I am keen to continue contributing to D0X.

[2018-08-30 20:06] Bradymck commented on #250
Feel free to build out your marketplace and when the [District Registry](https://education.district0x.io/district0x-specific-topics/understanding-distict0x/the-district-registry/) is live you can submit it into the [TCR ](https://education.district0x.io/district0x-specific-topics/meme-factory/what-is-a-tcr/)and see how it goes.

Though I would be careful about [pulling things from other people's w

[2018-09-28 08:20] akimc opened #276 "DP : Fly0x.io - Travel Curated District"
## **Name**:
Fly0x

## **Purpose**:
Finding the best flights should be easy and available freely.

## **Description**:
There is currently a problem with finding affordable flight tickets, you have to do a tremendous amount of research across a variety of websites ( Google Flights, Momondo, Kayak, etc. ) to make sure you are getting the best flight.

That's it? No, researching the normal way isn't

[2018-09-28 16:11] Bradymck commented on #276
Hey, this is interesting for sure! However, I am seeing the token as unneeded friction. Is there a reason you are leaning towards a token? Can it be reworked to use ETH or are you are still developing that aspect?

[2018-09-29 07:01] akimc commented on #276
It could be reworked to use ETH but I would worry about spam, people might be more motivated to just send tons of flights that might not be "that" good for 1$ worth of ether just to hoard it. While with something that you receive and could re-use in the ecosystem itself.

By using a native token it would also be easier to "airdrop/giveaway" a number of token to help populate the community at first

[2018-11-14 19:36] DrussThaLegend opened #277 "Happy Clappers"
## **Name**:
Happy Clappers

## **Purpose**:
To link seat fillers directly to organisations that require them cutting out middlemen and professionalizing this industry.

## **Description**:
Whether it is to fill the auditorium of an upcoming TV show or play, or compliment an audience at a conference or speech, there exists a market for "Seat Fillers". This market proposes to connect seat fillers t

[2018-11-14 19:59] Bradymck commented on #277
So who will be doing the curating in the TCR? Most TCR structures need some solid governance models so the community has some guidance fot curation. This post from Adchain and Metax offer great insight into this: Learnings from MetaX on Launching The First Token-Curated Registry (TCR) by adChain https://link.medium.com/8VEYLhtwQR

[2018-11-14 20:53] Bradymck commented on #277
The issue with TCRs is they only work well if the people curating are actually motivated and have the understanding of crypto to participate. This is a gap I think couple be filled very soon with really well designed dApp browsers and stable coins.

Then it would be as simple as depositing a national currency to submit something. Which can be a thing with ERC20 USD widely available now.

The large

[2018-11-14 20:54] Bradymck commented on #277
The issue with TCRs is they only work well if the people curating are actually motivated and have the understanding of crypto to participate. This is a gap I think could be filled very soon with well designed dApp browsers and stable coins.

Then it would be as simple as depositing a national currency to submit something. Which can be a thing with ERC20 USD widely available now.

The largest hurdl

[2018-11-14 23:05] DrussThaLegend commented on #277
That's a fair assessment on the state of play currently with TCRs, wallets and barriers to adoption in general.

I thought this project would be more resistant to a sybil attack as voting would only take place after confirmation of attendance at an event, but I guess people could game up non existent events and fillers and abuse the system via interactions between these.

Interesting thought about

[2019-01-02 10:30] akimc opened #278 "MarketCap0x - We need a transparent CMC"
## **Name**:
MarketCap0x

## **Purpose**:
Transparent and Fair listing for every crypto projects.

## **Description**:
CoinMarketCap is a fraud but I am sure everyone here is consulting it quite often it is a reference in the crytospace, hear about a new token ? Your first reflex is probably going to search it on CMC... So you can know which exchange trade the token, the valuation and more preciou

[2019-01-02 20:52] TheDataDesigner opened #279 "Battle Lab"
## **Name**: Battle Lab

![logo](https://user-images.githubusercontent.com/1761801/50611665-71e08900-0e94-11e9-9fd6-f02c6ac723a4.jpg)

## **Purpose**:
Battle Lab is a free-to-play digital trading card and crafting game that blends elements and mechanics from Roguelikes, RTSs, and MMORPGs across multiple progressive game modes and allows players to earn money and support non-profit organizations of

[2019-01-02 21:11] Bradymck commented on #279
Whaaa!!! I love it! Please tell me this is in development!

[2019-01-02 21:13] Bradymck commented on #278
This is seriously in dire need. I really like the idea of using a TCR for this. It's a good example of how a good TCR would bring value to people even if they don't actually participate in the curation.

[2019-01-02 21:36] Bradymck commented on #279
I would like to see some more info about how you would like to use the district0x network and the ARagon entity if you won the vote. Would you be using our TCR designs to give the users a way to curate and submit characters, art, and changes to the game? Or possibly even donate a portion of game proceeds to an Aragon community pool that gamers can help decide on the direction and funding proposals

[2019-01-02 21:38] Bradymck commented on #279
Possibly even use our d0xTasks app as a way to accept work proposals and have the community vote in Aragon to fund those tasks. The great thing is, most of this could be hidden from the gamers and developers would be the only ones who see it.

[2019-01-02 21:55] TheDataDesigner commented on #279
Right now I've been pretty heads down on ironing out the game mechanics and need to put more specific documentation around the functions and abilities of the district, but I see curation markets being utilized to evaluate new content submissions like characters, mutations, gear, etc as well as new game mods or entirely new games. Content creators and game designers will stake in their submissions,

[2019-01-02 21:59] Bradymck commented on #279
I really want to see a standardized game stats TCR where any ERC721 token could be submitted along with game stats. If it was a generic TCR design any game could implement easily I think many game devs could be empowered in a big way and open up use cases for any ERC721 token. Just something that has been on my mind a lot.

[2019-01-02 22:58] TheDataDesigner commented on #279
I've thought a lot about that too. I'd love to allow this platform to be used to manage any kind of card game, not just the specific one we're building, but the more standards, the less flexibility you have with how the properties of a specific card affect game mechanics. Depends on how much you want to abstract, I suppose.

[2019-01-03 00:09] aaronpowered commented on #278
BUMP
I would halp with that

[2019-01-07 01:11] DaniellMesquita opened #280 "AddressTower"
## **Name**:
AddressTower

## **Purpose**:
A community-driven marketplace for registering and managing decentralized web domains.

## **Description**:
District0x users will use their DNT tokens to propose decentralized domains with the extension .uuu (Universe Under Union, an evolution of the www. subdomain and meaning, also referring to IPFS - Inter Planetary File System), where the community wil

[2019-01-07 01:58] DaniellMesquita commented on #280
First domains:

district0x.uuu
aragon.uuu
pando.uuu
ipfs.uuu
ethereum.uuu
bitcoin.uuu
cjdns.uuu
althea.uuu
cryptocurrencies.uuu (informative site)
cryptocurrency.uuu (informative sites)
everipedia.uuu
dapp.uuu (informative sites)
dapps.uuu (informative sites)
stateofthedapps.uuu
linux.uuu
debian.uuu
beakerbrowser.uuu
dat.uuu
pfrazee.uuu
firefox.uuu
mozilla.uuu
colemak.uuu
qrl.uuu
tor.uuu

[2019-01-07 17:24] Bradymck commented on #280
Hey, thanks for the proposal. So if this were to be voted into place as the next district, what technology would need to be written from the ground up, and what technology is already available for this?

I'm having trouble seeing how to get this going as a marketplace without first creating an entirely new infrastructure to support this, similar to some of the other name infrastructure you mention

[2019-01-07 18:34] DaniellMesquita commented on #280
@Bradymck

Both Aragon and Ethereum's smart contracts can be used for this.

This marketplace can use DNT tokens, or a brand new token (for AddressTower as a DAO/community) using Aragon's infrastructure.

About the name infrastructure, it can use Ethereum's smart contracts, whereas domains are property of the AddressTower DAO/marketplace, that are assets locked on the blockchain locked for some ti

[2019-01-07 18:47] Bradymck commented on #280
So to confirm, this would require development of a new name service in competition with Handshake, ENS, Name Coin, and Emercoin?

If so, what inefficiency and problems do you see with these other systems that needs to be solved?

I will also add that Aragon and d0xINFRA aren't built to create new name services, it's primarily governance tools and standardized marketplace tools.

So this new name s

[2019-01-07 19:07] DaniellMesquita commented on #280
@Bradymck

I'm pretty sure how this service is needed (beneficial for both people and District0x's image) and how d0x can help it, so I'll try my best to explain it and cover all your questions.

That's a problem to have competition with existing products that haves their own philosophies that prevents them to upgrade how they works?
Because of Netscape (open competitor to IE) there came Firefox,

[2019-01-07 20:35] Bradymck commented on #280
Thanks for the quick response! I like where your head is at on this. I can absolutely see room for improvement in ENS and other similar systems. Possibly even another alternative, hard to say this early without seeing a better alternative market emerge first though.

A lot of people are disappointed with the direction that ENS has been going too. I do however, think it's too early to say that Arag

[2019-01-10 22:48] TheDataDesigner commented on #279
Hey there, I wanted to provide a quick update. I've been working day and night to get ready for our in-house developer who is starting full time next week. I've been deep into defining requirements, writing user stories, diagraming system flows, mocking up the UI, and illustrating characters, mutations and gear, but have also dedicated some time to propping up a social media presence.

If you woul

[2019-01-13 14:46] DaniellMesquita commented on #280
@Bradymck

From the first to the last paragraph, "where your head is" remembers what a user said on two days before: "Take your head out of your ass". What did you mean? Coincidence? (ref. https://github.com/aragon/nest/issues/125#issuecomment-451688185)

How can ENS being improve without totally restructuring it?

That's why I've suggested AddressTower.

Bad for district0x if it just waits for ot

[2019-01-14 17:49] Bradymck commented on #280
I'm not saying this couldn't or shouldn't be done. On the contrary, it is already being done with ENS. People are converting ENS names into ERC721 tokens as we speak.

Though this is not so much a new marketplace as it is an extension of ENS in my view so it could use some research on how other name services could use ERC721 as a universal standard for many name types. New ones like your idea incl

[2019-01-14 17:50] Bradymck commented on #280
Reopened

[2019-01-14 17:50] Bradymck commented on #280
Please do get a roadmap along with all resources that could help build this.

[2019-01-15 18:04] Bradymck commented on #280
FYI, I will be digging into this proposal on stream today. Please do drop by if you want to answer any questions people may have about it.

[2019-01-16 06:12] BroFistIO opened #281 "Meme Trading Card Game"
## **Name**: Meme Trading Card Game
The Meme Trading Cards game is a turn based, peer-to-peer board game played on a 3x3 grid using provably rare ERC721 crypto collectible memes (cards) that are issued in the Meme Factory’s Token Curated Registry (TCR). While not playing, the owners of the memes can train their cards to be stronger in a process called “working” which borrows elements from MMORPG g

[2019-01-17 18:43] Bradymck commented on #281
Hey! You got the account back up!

Sweet. Now this I am very excited about. I will go over it on next stream

[2019-01-17 18:45] Bradymck commented on #3
@lkngtn Hey Luke, I really want to see Staketree forked for this. They stopped working on it and if this proposal wins the vote and gets built, I would love to see how much of Stake tree could be used for this. https://staketree.com/

Thoughts?

[2019-01-17 19:45] lkngtn commented on #3
Hi @Bradymck

Aragon recently approved a [nest proposal](https://github.com/aragon/nest/pull/120) to build [1hive/apiary ](https://github.com/1Hive/Apiary), you can see a [video of the early proof of concept](https://www.youtube.com/watch?v=NDyHxzzxtBw&feature=youtu.be). The team is currently finishing up some milestones on the Pando project, but I expect dev on Apiary will ramp up shortly  after

[2019-03-02 08:06] aleebrahim commented on #94
I strongly support the proposal to change the dilemma in peer review process.

[2019-03-02 16:07] Bradymck commented on #94
@aleebrahim I agree, this is a great idea. Have you voted for a proposal yet?

vote.district0x.io

[2019-03-23 19:02] aditya-sambamoorthy opened #282 "Customer Value Co-Creation Platform"
## **Name**:
Customer Value Co-Creation Platform

## **Purpose**:

The growing importance of technology and consumer feedback is shifting the epicenter of the value creation process from a product and firm centric view to a more consumer oriented view that revolves around an increased need for dialogue between the company, the end customers and the community creating personalised consumer-brand re

[2019-05-06 18:48] grasponcrypto opened #283 "Plagiarism Purge"
## **Name**:
PlagiarPurger

## **Purpose**:
A district module to provide a decentralized market-style platform, with automated tools as possible to help voters, to prevent plagiarized content.

## **Description**:
The district would be built as a module, or plugin, to be used by other districts to facilitate duplicate or plagiarized content such as re-uploading previously uploaded content as one's

[2019-05-06 19:12] Bradymck commented on #283
Hey thanks for the submission! Can you explain the marketplace component and how it would work? Also what content are you looking to curate? This looks like a general purpose curation market of sorts but please clarify what your aim is here.

[2019-05-06 19:24] Bradymck commented on #282
Hey, please excuse the late reply. I wanted to say thank you for such a thoughtful and thorough marketplace idea. So would this be like a decentralized 99designs but with a marketing component included?

There are a couple similar to this. You may want to reach out and think about collaboration!
Pictosis seems like the closest to your idea. I believe their platform is life right now too but is lac

[2019-05-06 19:43] grasponcrypto commented on #283
The idea is to be a general purpose component which would essentially compare media against other known works of it's type and report back on the uniqueness.  I imagine it may have to actually be broken down into multiple components each for its own media type.  I know it could work for written documents and code.

So possibly the easiest example would be plagiarism on written documents, same as m

[2019-05-07 17:34] Bradymck commented on #283
Gotcha, the reason I brought up the curation market aspect is because to be a district it needs to be a marketplace. I could see this working as a plagiarism bounty platform.

Where people could earn bounties or possibly even just use a [TCR ](https://education.district0x.io/district0x-specific-topics/meme-factory/what-is-a-tcr/)to give the financial incentive to curate and those people would manu

[2019-05-07 23:56] grasponcrypto commented on #283
I understand.  Thanks for thinking through this with me.  I agree that it seems a TCR is a good approach here.  Perhaps it could be set such that users wishing to utilize such a feature could place a bounty on the results.  In this way it could offer rewards for those who participate where the reward is split between the "winners" in a way similar to [Augur](https://www.augur.net/blog/prediction-m

[2019-05-08 04:28] Bradymck commented on #283
That could be an issue for sure. This can however be different for every TCR. There has to be some type of system in place for reputation, ratings, token controlled access, or other incentive system. This ensures the data is more accurate and community standards can emerge. Especially if there is an added layer within governance surrounding a community based mission, vision, or bylaws.

This becom

[2019-05-08 16:24] grasponcrypto commented on #283
Perhaps user "whitelists" could become a thing.  You could even have curators of curators; like pihole lists, where users can use lists maintained by others and combine them for improved lists.  So as the community members gained rep and trust, other members could maintain lists of their most trusted members per TCR.  Users could then use those whitelists to limit curators to specific members.

As

[2019-05-08 17:03] Bradymck commented on #283
Ultimately I thin group based TCRs are a great road to go imo. It solves a lot of issues with TCRs for sure. I can't wait until after Meme Factory is running for a while so we can test some of this out. There is no reason we couldn't experiment with this idea now with an Aragon entity. You could have that entity holding the DANK and the members can choose whatever model they want to who get's the

[2019-05-16 23:51] grasponcrypto opened #284 "Push Notification Vote Module"
## **Name**:
Push Vote

## **Purpose**:
Allow voting via html5 push notifications with as few clicks as possible.

## **Description**:
Push html5, or other, notification to app or desktop when a new 'vote' is up to all members of a district with the ability to click the notification and cast their vote directly from the notification (extra clicks likely necessary to sign the message).

## **Ethere

[2019-05-17 07:06] akimc commented on #284
Hello Grasponcrypto ! This is a good idea for the higher level governance of District0x but this wouldn't qualify itself has a district I think since this isn't a "marketplace" per se. I am pretty sure Brady will chime in and explain more in detail how the actual system is going to be implemented in [Aragon](https://aragon.org/)

Meme Factory being shipped a few hours ago, after the big marketing

[2019-05-18 03:33] grasponcrypto opened #285 "Representation"
## **Name**:
Representation - Liquid Democracy

## **Purpose**:
For users to become or find a representative.

## **Description**:
Post a bio of one's views toward specific districts and the direction they may wish it to lean.  Users who wish to not play such an active role, but still care about long term direction, can participate by allowing their votes to be cast automatically as the same vote

[2019-05-21 17:34] aditya-sambamoorthy commented on #282
Yes it will be closely linked to decentralised idea generation, open innovation and customer value co-creation. I see it here as a tool to also improve consumer brand relationships and customer loyalty. So it will be more along the lines of that rather than a collaborative design based platform like pictosis or a talent recruitment/scouting platform.
All the platforms that support open innovation

[2019-06-27 04:35] isaiahcurry8 opened #286 "80’s Crypto High - A Crypto Collectible Game"
![Slide1](https://user-images.githubusercontent.com/10537283/60234716-2f53a400-985a-11e9-81be-d731c1e56944.JPG)
![Slide2](https://user-images.githubusercontent.com/10537283/60234717-2f53a400-985a-11e9-90b8-85f97a2b7101.JPG)
![Slide3](https://user-images.githubusercontent.com/10537283/60234719-2f53a400-985a-11e9-9caf-8b8e53108cd9.JPG)
![Slide4](https://user-images.githubusercontent.com/10537283/602

[2019-07-08 14:06] lukeenterprise opened #287 "Grow0x"
## **Name**: grow0x
Grow 0 x is a smart contact for helping the homeless afford wholesale fruits and vegetables.

## **Purpose**:
Give the homeless 5000 Dnt coins to buy or trade every week for 12 weeks.

## **Description**:
They can use there coins to buy food or trade for other food. They have the choice to buy food,trade,or can use for any other parts of the district0x network.

## **Ethereum A

[2019-07-10 22:43] wglynn115 opened #288 "Blog/ Journalism Marketplace: Blog0x"
## **Name**:
 Blog0x

## **Purpose**:
To offer an open marketplace for blog creation and sale with reputation standards among consumers and creators

## **Description**:
Guilded Writing: Permissionless publishing is a must (corollary: infant phase could be an invitation only phase to curate reputation and create a standard); however, we will have to make incentive adjustments to account for two ob

[2019-07-16 04:09] Bradymck commented on #287
I have send the DNT reward for this proposal however I do ask you elaborate on how the DNT will be acquired each week and how the marketplace supply and demand will function. This proposal will be closed until then.

[2019-07-16 04:09] #287 closed

[2019-07-16 04:12] Bradymck commented on #286
Reward sent to 0x9830242fE206809b66F57A150311aA925B96ac59

[2019-07-16 04:14] Bradymck commented on #285
This will be a standard feature within Aragon. I am going to close this for now. However if you have a specific supply and demand market structure you want to outline I can reopen.

[2019-07-16 04:14] #285 closed

[2019-07-16 04:14] Bradymck commented on #285
Reward sent

[2019-07-16 04:17] Bradymck commented on #284
@akimc is correct, this is not really a district as it has no marketplace function. Happy to elaborate on how Aragon will function, however the District Registry will be live soon and can be seen first hand.

[2019-07-16 04:17] #284 closed

[2019-07-16 04:18] Bradymck commented on #283
I sent a reward for this proposal as well.

[2019-07-16 04:19] Bradymck commented on #281
Hey, don't forget to check out Game of Memes, I think we have a lot of synergy with our goals. Would love you to work your ideas in.

[2019-07-24 19:50] Bradymck commented on #282
I was sending out rewards, can you post your ETH address please

[2019-08-01 15:33] lukeenterprise commented on #287
Its really just an idea I had to help the homeless. If you have an idea to build around maybe we can build a vr system for homeless. Help them get jobs and teach trades through vr.

[2019-08-15 21:46] mappoculture opened #289 "MappoDistrict"
[MappoDistrict.pdf](https://github.com/district0x/district-proposals/files/3513151/MappoDistrict.pdf)
[MappoCulture.com](https://mappoculture.com/)
## **Name**:
MappoDistrict
## **Purpose**:
“Mappo District will serve the purpose of providing Smart Self-Sustained living for all Humans and our Planet”
## **Description**:
 	Serves as a project to do list, with features allowing all project members t

[2019-08-15 23:39] Bradymck commented on #289
I assume you meant Planet here? 👇

“Mappo District will serve the purpose of providing Smart Self-Sustained living for all Humans and our Plant”

[2019-08-16 01:09] Bradymck commented on #289
Can you elaborate on how you will secure the DNT outlined in the launch plan?

[2019-08-16 02:21] mappoculture commented on #289
Hello,
Yes I did. Apologies on grammatical errors a fully edited version shall be up soon.
Thank you,
Nicholas Reyes
Sent from my iPhone

On Aug 15, 2019, at 16:39, Bradym <notifications@github.com<mailto:notifications@github.com>> wrote:

I assume you meant Planet here? 👇

“Mappo District will serve the purpose of providing Smart Self-Sustained living for all Humans and our Plant”

—
You are rece

[2019-08-16 02:37] mappoculture commented on #289
Hello,
Yes I did, apologies on the grammatical errors a fully edited version shall be up soon. As for the DNT funding, we plan to secure it through our MappoFund and Memberships. I have Attached an outline for MappoCulture.com<http://MappoCulture.com>, which explain the details. Let me know if you have anymore questions.

[2019-08-18 15:16] mappoculture commented on #289
Yes I did, apologies on pervious grammatical errors an edited versions as be upload . As for the DNT funding, we plan to secure it through our MappoFund and Memberships. I have Attached a preliminary outline for MappoCulture.com, which explain the details. Once the site is launched there will be more information available. Let me know if you have anymore questions.
[MappoCulture.com.pdf](https://g

[2019-09-18 17:56] mappoculture commented on #289
Mappoculture.com

[2019-09-18 17:57] mappoculture commented on #289
https://mappoculture.com/

[2019-12-20 16:49] mappoculture opened #290 "MappoDistrict 0X"
[MappoCulture.org](https://mappoculture.org/)
## **Name**:
MappoDistrict 0X
## **Purpose**:
“Mappo District will serve the purpose of providing Smart Self-Sustained living for all Humans and our Planet”
## **Description**:
Serves as a project to do list, with features allowing all project members to participate in the management of the list. The district will allow members to create task for the t

[2019-12-20 17:00] #289 closed

[2020-01-10 23:28] DaniellMesquita commented on #280
Peep about this: https://peepeth.com/daniellmesquita/peeps/QmTUH32fVEc5awr86CB7jpn6Fc2S4W43XXWZBXVMNw4AtQ

[2020-01-10 23:30] DaniellMesquita commented on #280
I'm working around it by myself using IPNS and DAO to a json registry till it begins using ERC models.

[2020-01-29 21:01] MouyouMoos opened #291 "Twitter Ranking Game"
## Twitter Ranking Game

## **Purpose**:
The goal of the game is to curate a list of the most influence twitter user in the crypto space.

## **Description**:
How it works?
A user who wants to participate in curating the list writes a bot „i want to play“ via his twitter account. Then s/he gets 100 Tokens(T). Then s/he can take the Ttoken and invest it in any twitter use s/he thinks is influence i

[2020-01-29 21:06] MouyouMoos opened #292 "Bookmark District"
## Bookmark District

## **Purpose**:
curate websites via a district bookmark browser plugin. all users share their bookmarks anonymous on the bookmark district so people can find the best bookmarks

## **Description**:
![Bildschirmfoto 2020-01-29 um 22 06 21](https://user-images.githubusercontent.com/52453582/73397338-9a2ef700-42e3-11ea-8801-765eb357df7c.png)

## **Ethereum Address**:
0x6bbdb1D50

[2020-02-07 17:31] Bradymck commented on #288
Hey there! Just a reminder. We just launched the District Registry.

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see r

[2020-02-07 17:32] Bradymck commented on #281
Hey! Just a reminder. We just launched the District Registry.

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain

[2020-02-07 17:33] Bradymck commented on #264
Hey there! Just a reminder. We just launched the District Registry.

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see r

[2020-02-07 17:34] Bradymck commented on #259
Hey Nathan! Just a reminder. We just launched the District Registry.

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see

[2020-02-07 17:35] Bradymck commented on #255
Hey! Just a reminder. We just launched the District Registry.

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain

[2020-02-07 17:37] Bradymck commented on #235
Hey PJ! We just launched the District Registry. 😎

Be sure to submit it to the registry to get Bloom on the map and get people staking towards it.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

https://registry.district0x.io/

I will be streaming today now that the registry looks stable and people are beginning to stake DNT.

Stream: https://w

[2020-02-07 17:39] Bradymck commented on #228
Hey there! We just launched the District Registry. 😎

Be sure to submit this to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain in the Registry. https://registry.district0x.io/

[2020-02-07 17:40] Bradymck commented on #218
Hey there! We just launched the District Registry. 😎

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain in the Re

[2020-02-07 17:41] Bradymck commented on #197
Yo! We just launched the District Registry. 😎

Be sure to submit this to the registry when you get a chance.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

https://registry.district0x.io/

[2020-02-07 17:42] Bradymck commented on #189
Hey! We just launched the District Registry. 😎

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain in the Registry

[2020-02-07 17:42] Bradymck commented on #66
Hey! We just launched the District Registry. 😎

Be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

Also, be sure to stake your DNT into the districts you want to see remain in the Registry. https://registry.district0x.io/

Your staked tokens act as an 'U

[2020-02-07 17:44] Bradymck commented on #29
Hey Ari, we just launched the District Registry. 😎

When you get a chance, be sure to submit Decentraland to the registry.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

https://registry.district0x.io/

I will be streaming today now that the registry looks stable and people are beginning to stake DNT.

Stream: https://www.twitch.tv/district0x

[2020-02-07 17:45] Bradymck commented on #18
Hey there! We just launched the District Registry. 😎

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain in the Re

[2020-02-07 17:45] Bradymck commented on #17
Hey there! We just launched the District Registry. 😎

If you are still working on this project, be sure to submit it to the registry if you want to see it built as one of the next districts.

We will be deprecating the old voting app and Github proposal system now that the registry is live.

If you aren't working on this be sure to stake your DNT into the districts you want to see remain in the Re

[2020-02-07 17:46] Bradymck commented on #1
Hey Angelo! We just launched the District Registry. 😎

We will be deprecating the old voting app and Github proposal system now that the registry is live.

Be sure to stake your DNT into the districts you want to see remain in the Registry. https://registry.district0x.io/

I will be streaming today now that the registry looks stable and people are beginning to stake DNT. We will dive in, answer al

[2020-02-07 17:47] Bradymck commented on #1
Oh @AngeloAdam Don't forget to submit Bounty0x to the registry

[2020-05-26 18:45] #261 closed

[2020-06-18 17:27] Bradymck commented on #28
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:28] Bradymck commented on #94
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:28] Bradymck commented on #17
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:28] Bradymck commented on #138
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:28] Bradymck commented on #53
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:29] Bradymck commented on #18
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:30] Bradymck commented on #1
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:31] Bradymck commented on #69
Hey there,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 17:35] Bradymck commented on #107
Hey there @googooboy ,

This is needed now more than ever. Please come back to this proposal. Also, I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can c

[2020-06-18 17:37] Bradymck commented on #70
Hey there @parag ,

Would love to see this worked on or merged with similar proposals like #107.

Also, I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you c

[2020-06-18 17:42] Bradymck commented on #10
Hey there @okmrponcho ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal bu

[2020-06-18 17:47] Bradymck commented on #218
Hey @MRodas75 ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 17:49] Bradymck commented on #218
If I don't hear back from you I may submit a proposal on your behalf but if I did, I would split the bounty with you if you want to work on this a bit more. I have a large write up called 'Challenger Fund" you may like to see.

[2020-06-18 17:53] Bradymck commented on #126
Hey @Hondo212  ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 17:55] Bradymck commented on #177
Hey @afanasy  ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 17:59] Bradymck commented on #77
Hey @sull ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 18:36] Bradymck commented on #254
Hey @Hibero  ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 18:38] Bradymck commented on #194
Hey @jsuddarth  ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 18:38] Bradymck commented on #194
@dctobkk ☝️

[2020-06-18 18:40] Bradymck commented on #181
Hey @Fkaram84  ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 18:49] Bradymck commented on #72
Hey @batmanscode  ,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but th

[2020-06-18 18:50] Bradymck commented on #113
Hey @SaturDRE

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this giv

[2020-06-18 18:52] Bradymck commented on #228
Hey @geleeroyale @GriffGreen

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your propos

[2020-06-18 18:53] Bradymck commented on #11
Hey @uvizhe,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this give

[2020-06-18 18:54] Bradymck commented on #61
Hey @quantumdwayne,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but th

[2020-06-18 18:57] Bradymck commented on #84
@mrspectre

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 18:58] Bradymck commented on #283
@grasponcrypto

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 19:07] Bradymck commented on #35
Hey @ghiliweld

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 19:10] Bradymck commented on #102
I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives you an extra

[2020-06-18 19:15] Bradymck commented on #241
Hey @TheDataDesigner

Don't forget about the new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives you an extra 2000 you c

[2020-06-18 19:15] Bradymck commented on #264
Hey @Legionof7,

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 19:21] Bradymck commented on #78
Hey @adambenayoun

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 19:22] Bradymck commented on #22
Hey @SecondBlocK

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 19:23] Bradymck commented on #142
Hey @foco00

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 19:25] Bradymck commented on #95
Hey @daraosn

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this give

[2020-06-18 19:26] Bradymck commented on #95
I may also mention that this could easily be done with bounties on Ethlance 2.0. I would like your thoughts on Ethlance 2.0, bounties, the new arbiter role, and dispute resolution within Aragon court.

[2020-06-18 19:28] Bradymck commented on #73
Hey @criscasta

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 19:30] Bradymck commented on #152
Hey @mathos83

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this giv

[2020-06-18 19:31] Bradymck commented on #127
Hey @peterrus

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this giv

[2020-06-18 19:33] Bradymck commented on #34
Hey @Cloudpostru

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 19:34] Bradymck commented on #34
Also, this could be a really important district with the right models that align incentives for creators. Right now it's tough for creators to dive into games, and VR because their rights as a creator are not always respected by other user or platforms.

[2020-06-18 19:35] Bradymck commented on #48
Hey @Jsw11

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 19:44] Bradymck commented on #103
Hey @AnkS4

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 19:46] Bradymck commented on #97
Hey @rongomaib

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 19:49] Bradymck commented on #115
Hey @crowdedconscious

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but

[2020-06-18 19:51] Bradymck commented on #184
Hey @Charlie-Mack

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 19:51] Bradymck commented on #25
Hey @AlexDistill

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 19:57] Bradymck commented on #26
Hey @ceresstation

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 20:02] Bradymck commented on #62
Hey @xibot

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 20:03] Bradymck commented on #80
Hey @Gatien13

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this giv

[2020-06-18 20:04] Bradymck commented on #33
Hey @ouicho
I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 20:04] Bradymck commented on #139
Hey @mthilliard

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 20:08] Bradymck commented on #178
Miss you @MCDForm

You had vision in this space most people don't. Most your ideas are either built or easily able to be built now. Cheers man, hope you're well.

Also, if you ever want to hop in the community again, I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old

[2020-06-18 20:08] Bradymck commented on #140
Hey @Qryptoc

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this give

[2020-06-18 20:09] Bradymck commented on #180
Hey @Puvanb

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 20:10] Bradymck commented on #244
Hey @mohamedhayibor

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but th

[2020-06-18 20:11] Bradymck commented on #44
Hey @abonn

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 20:14] Bradymck commented on #239
Hey @MCDForm

I'm doing something similar to the NFT based loot boxes on stream now. Check it out if you're still around: https://dappstream.live/cloudbot

These could be used like you describe utilizing Linkdrop like I do.

[2020-06-18 20:16] Bradymck commented on #159
Hey @Igsterr

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this give

[2020-06-18 20:16] Bradymck commented on #281
Hey @BroFistIO

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 20:17] Bradymck commented on #24
Hey @yalu

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives y

[2020-06-18 20:19] Bradymck commented on #208
Hey @RequiemForTheFuture

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal b

[2020-06-18 20:19] Bradymck commented on #91
Hey @Marianodp

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 20:20] Bradymck commented on #92
Hey @charlesmarino

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but thi

[2020-06-18 20:22] Bradymck commented on #104
Hey @cogentgene

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 20:23] Bradymck commented on #106
Hey @Splitspace

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 20:27] Bradymck commented on #262
Hey @russwfranklin

Hope you're well!

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit yo

[2020-06-18 20:28] Bradymck commented on #259
Hey @nginnever

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 20:40] Bradymck commented on #291
Would love to see a fork of https://twitter.com/tcrpartybot made into a full blown bot army of AI based profiles, news feeds, and other use cases for a TCR like this.

Also, I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know i

[2020-06-18 20:43] Bradymck commented on #229
Hey @WarKitteh

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 20:45] Bradymck commented on #196
Hey there @MatthewDLudwig

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal

[2020-06-18 20:45] Bradymck commented on #66
Hey @xibot Just making sure you saw my other message on your other proposal:

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It doe

[2020-06-18 20:53] Bradymck commented on #288
Hey @wglynn115

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 20:55] Bradymck commented on #112
Hey @timinho111

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 20:58] Edenwold1 commented on #142
Hey Bradym

I am now a founder of a worldwide crypto project uffsports.com. We have done a lot of development but we are looking to take things to the next level. Could you look at our project and maybe suggest what steps we should take to possibly building a relationship with your project.

Tony

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Bradym<mailto:no

[2020-06-18 20:58] Bradymck commented on #168
Hey @hackis

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 20:58] Bradymck commented on #100
Hey @benjaminach

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 20:59] Bradymck commented on #156
Hey @Puvanb

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 21:00] Bradymck commented on #255
Hey @BenjaminBtc

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:01] Bradymck commented on #225
Hey @MrEngineer13

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:02] Bradymck commented on #46
Hey @andrewpascal

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:02] Bradymck commented on #40
Hey @8lcarte

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this give

[2020-06-18 21:03] Bradymck commented on #201
Hey @abonn

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 21:05] Bradymck commented on #85
Hey @Beno6

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 21:05] Bradymck commented on #257
Hey @ykgoon

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 21:07] Bradymck commented on #202
Hey @domibarton

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this g

[2020-06-18 21:07] Bradymck commented on #276
Hey @akimc

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 21:09] Bradymck commented on #231
Hey @inviscidblockchain

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal bu

[2020-06-18 21:12] Bradymck commented on #179
Hey @raympie1977

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:12] Bradymck commented on #217
Hey @veqtor

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-18 21:12] Bradymck commented on #145
Hey @basiccrypto

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:14] Bradymck commented on #286
Hey @isaiahcurry8

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:15] Bradymck commented on #146
Hey @Edenwold1

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gi

[2020-06-18 21:16] Bradymck commented on #144
Hey @CaseyGarcia

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this

[2020-06-18 21:17] Bradymck commented on #15
Hey @Rokos2009

This is more relevant now more than ever. Would love to see an update!

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DN

[2020-06-18 21:18] Bradymck commented on #65
Hey there @sergioaguado

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal bu

[2020-06-18 21:18] Bradymck commented on #167
Hi @rubensben

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this giv

[2020-06-18 21:18] Bradymck commented on #212
Hey @iefken

I'm not sure if you're aware but we recently launched a new bounty to migrate your proposals to the actual District Registry: https://registry.district0x.io/

We're replacing the old voting app with the registry. Let me know if you need help but I would love to see you migrate this over so you can claim your DNT.

It does take a 10,000 DNT submit to submit your proposal but this gives

[2020-06-23 19:41] Bradymck commented on #142
Hey @Edenwold1

Sure! Looking now.

[2020-06-23 19:58] Bradymck commented on #142
Hey @Edenwold1,

I took a look and I think there are a few areas that make sense for your project to leverage. BTW the platform looks fun!

If you submit a district proposal to the [District Registry](https://registry.district0x.io/), you would then have an Aragon entity and staking mechanism for people to use. This would allow your supporters to stake DNT in exchange for your governance token, gi

[2020-08-23 22:22] diegovdc opened #293 "0x41and140x or Insure0x: A community driven health insurance DAO"
## **Name**:
0x41and140x  (to be read as "ox/all for one and one for all").
A community driven health insurance DAO.

I recon that it might not have the best name (I just like the word play) so I am open to change it, to something like Insure0x (read InsureUs :))

## **Purpose**:
Allow communities to care, fund and support their members' access to health services while at the same time cultivating

[2020-08-24 15:54] Bradymck commented on #293
Hey! Thanks for dropping the proposal. This is an angle a lot of people in and out of crypto are trying to re-imagine. I think it's hard with health insurance and a bit easier to do with a lower stakes model either for a specific smart contract (In crypto) or looking outside crypto, some form of low income assistance (Like Data Dividend and Andrew Yang's experiments). I think there is a lot of roo

[2020-09-24 23:19] Bradymck opened #294 "The Sessions Media DAO"
# The Sessions Media DAO

### **Note this proposal is a major WIP. Many of this is subject to change.**

## **Purpose**:
On the network level, the main purpose will be to cultivate multiple revenue streams through network members and other endeavors related to content creation. On the individual level, the purpose will be to give content creators more time and energy back to what what they do best

[2020-09-25 19:48] laurengarcia commented on #294
This all looks great. Couple suggestions:

- Take a look at Snapshot.page for DAO voting
- Figure out scaling strategy so we aren't all paying a ton in txn fees

[2020-09-26 08:49] Bradymck commented on #294
@laurengarcia Yeah, I was looking at snapshot. I also wanted to use Xdai or IDchain. I know you have some strong opinions about Xdai. Do you have other suggestions for a no code way to deploy some of this? I'm all ears.

[2020-12-01 09:12] tgaye opened #295 "OpeNFT"
## **Name**:
OpeNFT

## **Purpose**:
What do we do?
•	Give collectors the ability to follow all their favorite artists in one place.
•	 Allow users to have a say in what NFTs get featured on our platform by staking on their favorite artists, or voting in the daily artist competition!
•	Give artists the ability to deal with selling their art on multiple platforms.  The crypto art market is extremel

[2021-01-14 14:22] ob92 opened #297 "PawnIt"
## **Name**:
PawnIt

## **Purpose**:
PawnIt will hold the facts about pawn items in terms of worth and justification.

## **Description**:
When an item is sold at a pawn shop there is a history/story behind it which draws the attention of colelctors, in some cases, it is hard to verify the authenticity and determine the value. Once an item is stored in "PawnIt" it becomes the fact, value of the it

[2021-01-29 12:20] pro317606 opened #298 "Transcending"
Transcending

Transcending- To not overstep the district, which helps to become, unite, grow as one!

## **Description**:
Who stays involved and brings in newcomers benefit the most but still all treated as one, equal

## **Ethereum Address**:
Https://wallet.portis.io

[2021-01-30 05:00] chrislopbeach opened #299 "On The Way Deliveries"
**OnTheWay**

 **Deliver Store Products**:
Deliver products from local convenient stores, grocery, restaurants, liquor and spirit stores. Using a platform similar to DoorDash.

## **Description**
District should be ran on a platform similar to doordash, Uber, waiter.

## **Ethereum Address**:
0xe018557B91E8d7d7F3ed9CCAd5246e067EA73342

[2021-01-30 22:26] louisianaking opened #300 "Sports oracle district"
Name**: sports oracle

*: is a interactive AI that gathers sports stats,injuries,and other various information that can be use to calculate odds of winning are odds on who will most likely score the most and various other things to help the fantasy players better choose there team line ups and probabilities

## **Ethereum Address**: 0xdc126EB79B1BE167205B8C830Af2901FC1c3B83d

[2021-02-15 23:53] Bhaney44 opened #301 "Paten District"
## **Name**:
Paten District

## **Purpose**:
From the Latin Paten, meaning open, the _raison d’etre_ for the Paten District is securing intellectual property rights for innovations occurring on the district0x network.

## **Description**:
As innovation occurs on the district0x network, the Paten District will provide services for protecting the underlying intellectual property. Ownership in all IP

[2021-02-16 19:56] clturner opened #302 "Colab"
## **Name**:
Colab - The collective bargaining platform

## **Purpose**:
Collective bargaining for consumers... Huge orders for retailers!

## **Description**:
Colab is a platform that mediates transactions between Colab users who deposit DNT for collective bargaining on items and wholesalers who make offers to fill them. Users can log in and join a Colab group or start their own group to purchase

[2021-02-17 13:39] harmattanwanders opened #303 "Decentralized Hospitality Platform "DHP""
## **Name**:
Decentralized Hospitality Platform "DHP"

## **Purpose**:
Build a shared home rental platform that is owned by the network of users: hosts and renters.

The market leading short term home rental platform, Airbnb, is valued in excess of $100B. The majority of company value comes from 1) the network of users: hosts and renters, and 2) the first in class platform. The company's business

[2021-02-23 05:34] Bhaney44 opened #304 "Roosky District"
## **Name**:
Roosky District

## **Purpose**:
The purpose for the Roosky District is to develop the District0x protocol in Russian to help advance the network's global impact.

Целью Roosky District является разработка протокола District0x русском.

## **Description**:
The Roosky District will develop code in the Python programming language in Russian to make the protocol more accessible to native

[2021-03-11 21:51] BabelX opened #305 "BabelX"
## **Name**:
BabelX

## **Purpose**:
The decentralization of all financial markets

## **Description**:
In the spirit of, and inspired by, the story of Babel wherein our voices were confounded by God, I introduce BabelX – the collaboration of our voices to reshape and decentralize the entire capital market structure.

As noted by the recent ‘disruptions’ in stocks such as GME, BB, et al as well as

[2021-03-12 19:22] #305 closed

[2021-03-12 19:23] BabelX commented on #305
Realized after reading through the whitepaper that this idea was outside of the scope of district0x

[2021-03-12 19:35] BabelX opened #306 "Mammon"
## **Name**:
**Mammon**

## **Purpose**:
**Community Banking**

## **Description**:
In its own white paper, district0x developers mention two disruptive upstarts that have gone on to revolutionize entire industries – Airbnb and Uber. Conceptually, these ideas have gained ground not only because of the network of users but as a result of physical assets owned by the collective. In other words, Uber

[2021-03-28 14:52] virtuals-usa opened #307 "District Proposal: VRTriage"
**Name:**
VRTriage

**Purpose:**
Development of VR experiences for those who are home-or hospital bound, receiving cancer treatment, adjusting to a prosthesis, suffering from PTSD, or a repeatable learning experience for those who are developmentally or physically challenged.

**Description:**
Though VR gaming is a huge and thriving business in its own right, the use of VR for health and wellness

[2021-03-28 15:47] virtuals-usa commented on #307
+1

[2021-03-28 18:27] virtuals-usa commented on #307
Would have voted for my own project (of course) but the fees prevented me from doing so. Is anyone else having an issue with ridiculous fees associated with swapping ETH to DNT in their wallet?

![Fees madness](https://user-images.githubusercontent.com/81474878/112763237-9b37e300-8fd1-11eb-86bd-995208c31c8c.JPG)

[2021-03-29 15:38] ghost opened #308 "Would have voted for my own project (of course) but there is no "Vote" button under my district."
Would have voted for my own project (of course) but there is no "Vote" button under my district.

_Originally posted by @virtuals-usa in https://github.com/district0x/district-proposals/issues/307#issuecomment-808937784_

[2021-03-29 15:41] virtuals-usa commented on #307
When MetaMask Extension is enabled, I cannot see any district proposals in the list. When I disable the extension, I can see all 'Total Votes 0 DNT' district proposals.

[2021-03-29 18:03] Bradymck commented on #307
Hey! I assume you mean the old voting app here: vote.district0x.io. That has been deprecated. We replaced it with the actual registry: https://registry.district0x.io/

[2021-03-29 20:40] virtuals-usa commented on #307
Yikes! Yesterday it was a pittance to submit a district proposal (on a deprecated voting app, admittedly) but today it's almost $3,000 (10,000 DNT)? Have I got that right?

[2021-03-29 20:43] virtuals-usa opened #309 "Yikes! Yesterday it was a pittance to submit a district proposal (on a deprecated voting app, admittedly) but today it's almost $3,000 (10,000 DNT)? Have I got that right?"
Yikes! Yesterday it was a pittance to submit a district proposal (on a deprecated voting app, admittedly) but today it's almost $3,000 (10,000 DNT)? Have I got that right?

_Originally posted by @virtuals-usa in https://github.com/district0x/district-proposals/issues/307#issuecomment-809698747_

[2021-03-29 23:21] #309 closed

[2021-04-02 19:37] virtuals-usa commented on #307
No way to fund this proposal. Metamask throws an error whether it's a hard wallet, mew, coinbase, ledger. Unable to fund my own idea and I already have plenty of DNT in my account.

[2021-04-02 19:37] virtuals-usa opened #310 "No way to fund this proposal. Metamask throws an error whether it's a hard wallet, mew, coinbase, ledger. Unable to fund my own idea and I already have plenty of DNT in my account."
No way to fund this proposal. Metamask throws an error whether it's a hard wallet, mew, coinbase, ledger. Unable to fund my own idea and I already have plenty of DNT in my account.

_Originally posted by @virtuals-usa in https://github.com/district0x/district-proposals/issues/307#issuecomment-812680352_

[2021-04-03 01:26] #310 closed

[2021-04-03 01:26] ghost opened #311 "How do I vote and stake successfully? Metamask is funded with both ETH and DNT. Why won't it just let me vote?"
How do I vote and stake successfully? Metamask is funded with both ETH and DNT. Why won't it just let me vote?

_Originally posted by @virtuals-usa in https://github.com/district0x/district-proposals/issues/307#issuecomment-812680352_

[2021-04-03 02:34] virtuals-usa commented on #311
Completely useless. You can't fund with DNT, you can't fund with ETH. Never enough funds because I'm always just a little short of what's needed. Needed 10,000 DNT - put enough ETH for 17,000 DNT and still not able to fund this mess. Always some script error and there is no 'staking' now it's a straight up 10,000 DNT bill PLUS double whatever amount in DNT to do the transaction that never goes thr

[2021-04-03 02:34] ghost opened #312 "Completely useless. You can't fund with DNT, you can't fund with ETH. Never enough funds because I'm always just a little short of what's needed. Needed 10,000 DNT - put enough ETH for 17,000 DNT and still not able to fund this mess. Always some script error and there is no 'staking' now it's a straight up 10,000 DNT bill PLUS double whatever amount in DNT to do the transaction that never goes through. No wonder people despise crypto - no consistency and always a ripoff."
Completely useless. You can't fund with DNT, you can't fund with ETH. Never enough funds because I'm always just a little short of what's needed. Needed 10,000 DNT - put enough ETH for 17,000 DNT and still not able to fund this mess. Always some script error and there is no 'staking' now it's a straight up 10,000 DNT bill PLUS double whatever amount in DNT to do the transaction that never goes thr

[2021-04-03 16:26] #312 closed

[2021-04-03 16:27] Bradymck commented on #312
Please join our discord so we can help you with the registry. You can open a support ticket and we can resolve the issue.

[2021-04-03 16:27] #308 closed

[2021-04-03 16:28] #311 closed

[2021-04-17 21:59] RaceSpeed opened #313 "Exponential growth model with tied value intergations"
## **Name**:   VerticalGrowth
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**:  Investment and trade growth through value harvesting and building. Using networks and collection to promote value and use through designed partnerships and incentives
Define a purpose of the proposed district. Try to include a one liner with an

[2021-04-20 22:16] Bhaney44 opened #314 "R&D District"
## **Name**:
R&D District

## **Purpose**:
As blockchain technologies evolve, research & development (R&D) will continue to be critically important to development. As such, the purpose for the R&D District will be ensuring District0x stays on the edge in new blockchain advancements.

## **Description**:
The R&D District will conduct and publish research relating to blockchain technologies. The R&D

[2021-04-28 17:28] atticusn opened #315 "District 777"
## **Purpose**:
To bring added utility and incentive for DNT by creating an exclusive gaming lounge for DNT holders.

## **Description**:
District 777 is a decentralized casino exclusive for DNT token holders in the community. Required tokens to hold in order to partake in the casino would increase along with the number of users brought to the platform over time. Holders would be able to stake the

[2021-05-08 01:53] allyanho opened #317 "NFT Drawing Game"
## **Name**: NFT Drawing
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**: A fun game with ability to purchase NFTs
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **Description**: Players will load in and be matched with seven others. After a timer the game w

[2021-05-08 02:01] allyanho opened #318 "TwistTheNFT.io"
## **Name**:
TwistTheNFT

## **Purpose**:
NFT drawing game.

## **Description**:
The homepage will feature a main menu where users can join an online match, invite friends and sketch on a drawing pad and draw anything they like.

There will be a character customisation area where users can draw on their own characters and equip collected items such as brushes, pens and clothing. (These items will

[2021-05-08 02:01] #317 closed, assigned to nobody

[2021-05-08 11:55] allyanho commented on #318
There can be artists who create the NFTs and upload them to the district for use in the games. They can choose the quantity available for purchase and the price.

[2021-05-18 06:02] havenhart opened #319 "Game Shelf"
## **Name**:
Game Shelf

## **Purpose**:
User board game collections meet Venn Diagrams.

## **Description**:
Allow friends to compare board games and get suggestions on what game to play based on preferences set by the users assigned to a gaming group, such as number of players in group, max time limit, age range, game type, etc.

Users will:
- Create an account
- Add their games to their Library

[2021-05-18 18:20] coconut-husk opened #320 "Wallpaper"
## **Name**:
Wallpaper

## **Purpose**:
A marketplace for buying and selling digital advertising.

## **Description**:
Anyone who owns digital real estate - websites, digital billboards, mobile apps - can offer that space for bidding. Ad buyers bid on that space with ether.

Users will:
- sellers will post the ad space they have available
- sellers will include a link to their website, an image of

[2021-05-22 19:05] coconut-husk opened #321 "Pixel Patrons"
## **Name**:
Pixel Patrons

## **Purpose**:
A decentralized marketplace for commissioning digital art and subscribing to digital artists.

## **Description**:
Artists accept commission requests and receive payment in ether. They can also offer a monthly subscription to their content.

Artists can:
- create an account
- create a page on the app that links their website, shows a few samples of their

[2021-05-23 09:35] henrimahal commented on #320
THIS. IS. AWESOME.

[2021-05-27 10:38] DrussThaLegend commented on #320
Love this idea. Traditional online advertising is going to be severely disrupted by web 3 solutions/cryptos. Building a marketplace for these makes sense.

[2021-06-06 00:29] porteron commented on #256
What is the status of Lumiversity?

Is the district being used and are people actually opting in for using their real estate?

It is a great idea, just want to see if it's played out well.

[2021-06-06 18:38] kunfud commented on #256
Not yet… we are running some approaches but we would like build the
community accordingly.
Welcome to help.
El El dom, 6 jun 2021 a las 1:29, Nicholas Porter ***@***.***>
escribió:

--
******************* MENSAJE MEDIOAMBIENTAL ***************
ATENCION: Una tonelada de papel implica la tala de 15 árboles, y el consumo
de 250.000 litros de agua. El Medio Ambiente es cuestión de TODOS. Piense
si es

[2021-06-09 21:35] grasponcrypto opened #322 "Accolade - Community driven POAP registry"
## Why I'm So Excited About This Project
I believe this application is a great opportunity to move crypto into the real, physical world!

## Why a Token Curated Registry
A catalog of available POAPs already generated could be very useful for many reasons. I will not list them all here but I will give a few examples as idea starters:
1. Pokemon-go style POAP collection. In a new city? Pull up the P

[2021-06-17 01:02] coconut-husk opened #323 "Fan Agency"
## **Fan Agency**:

## **A DeFi redefining of free agency in sports (and possibly a long term replacement for sport agents entirely)**:
Fan Agency allows fans, businesses and teams to offer signing bonuses to free agents in exchange for signing with their team. It also allows for offering bounties tied to achieving specific goals within a season.

This allows fans to have a voice and a stake in wh

[2021-06-26 15:24] Bradymck commented on #138
Hey there! We have a hackathon going this month and some of the participants had an interest in building a marketplace like this. Are you stil interested in seeing this built or want to collaborate with others looking to build something like this? If so, drop by our Discord: [https://discord.gg/d0x](https://discord.gg/d0x)

Cheers!

[2021-06-26 17:18] henrimahal commented on #138
✨ @paul-schaaf

The community is thinking about this again. But simplified, and for licenses in general (photo, film, music, sounds, ...). I checked your website you r building DeFi now thats sick.

[2021-06-30 09:08] paul-schaaf commented on #138
@Bradymck @henrimahal hey guys! yeah Im currently more active in the Solana ecosystem and defi so not interested in building out this idea anymore. but anyone may take any ideas Ive had here and use them if they want to make this happen :)

[2021-06-30 13:02] omahs commented on #294
Hi! I also think that snapshot is great for voting!
To avoid transaction fees, xdai is an option but this could be done on Polygon too.
Hope that we can find a good scaling solution so that everyone can participate :)

[2021-07-02 05:48] swapp1990 opened #324 "Stake Ranking: Restaurant Recommendations"
## **Name**:
**Stake Ranking: Restaurant Recommendations**

## **Purpose**:
A restaurant recommendation app where end-users are suggested top/trending restaurants based on their locations, interests or query. The district would be a community of food enthusiasts who will judge and curate this recommendations based on voting, consensus and crypto staking mechanisms.

## **Description**:
Currently m

[2021-07-02 05:55] swapp1990 commented on #324
Also anyone from districOx who reads this, I was accidentally banned from the discord group earlier, so cannot communicate on the discord for this proposal.

[2021-07-02 15:02] Bradymck commented on #324
@swapp1990 I just unbanned you. Please rejoin: https://discord.gg/d0x

[2021-07-03 23:08] EnergyLedger commented on #303
www.chainspace.ca Let me know what you think of this...Could put it to use.

[2021-07-06 22:20] Maxxx8 opened #325 "Project X - A learn to Earn - Crypto Educational game"
**PROJECT - X**

**Overview**

Blockchain has become the most popular topic of discussion in the digital world in the past decade. Unlike real life platforms, the access to gain knowledge in the decentralized Meta world is limited, which has become the core reason for the increasing volatility in the crypto market. Furthermore as a reaction to inadequate knowledge and inefficient research, investo

[2021-07-11 19:59] kdowlin opened #326 "ieMarket District Proposal"
## **Name**: ieMarket District

## **Purpose**:

**ieMarket District creates a decentralized import export marketplace to support cross border trade using crypto based payments.**

ieMarket District, short for Import - Export Market would provide a venue to post real-world goods for sale, provide a venue to communicate with manufacturers, and to facilitate cross border and inter-country trade. The

[2021-08-04 21:05] Nuleksa888 opened #327 "OxxxXxxx…"
## **Name**:
Provide a name of the proposed district. Ideally this would also be listed in the issue title/description.

## **Purpose**:
Define a purpose of the proposed district. Try to include a one liner with an additional paragraph if needed.

## **Description**:
Describe how the district should operate in detail. Include relationships between the district and users, tokenholders, and any othe

[2021-08-25 14:11] Rasukix opened #328 "MintList - A new NFT minting, listing and selling platform."
MintList

Mint - List - Sell. The NFT marketplace that promotes all.

MintList is a new NFT marketplaces that aims to remove the centralization of selling platforms. All works will be assigned random positions on the homepage to guarantee equal exposure for all users. Your creativity deserves to be seen!

Users should be able to create an account by logging in with Ethereum. Afterwards they'll be

[2021-10-06 16:36] simba-sandy opened #329 "1liner"
## **Name**:
1liner

## **Purpose**:
1liner consulting and crowd marketing platform. Because if you can explain in a 1liner, why do it in more.

## **Description**:
Loaded 1liners can have a wide reach and quick impact. 1liners quickly pass the message across and save time for everyone involved. Here, conversations are initiated with token bidding. The payout & pay-in mechanisms can be customized.

[2021-11-07 05:54] mappoculture opened #331 "District K2"
**_Mission K2_**
![IMG_2522](https://user-images.githubusercontent.com/44139479/149231065-ddcd6669-6113-4e19-9200-315204393110.PNG)
## **Purpose**:
Mission K2 is purposed with rehabilitation of earth crust via protocol K21 and SPC. Restoring, rebuilding, and expanding land parks on the earth's surface from Sapporo to London.
## **Description**:
Each land park consist of launching a NATXYO HSFE fro

[2022-08-29 14:29] vniregrbldskqncib3j43cjn4h54 opened #332 "HYVE Proposal"
HYVE - Collaboration Proposal

## **Purpose**:
Integration as a payment method of DNT into HYVE - web3 job marketplace.

## **Description**:
I will start by presenting [HYVE ](https://app.hyve.works/)and how we can collaborate.
We just launched v2 and the platform's mobile version with many improvements, new features, and a better UI/UX, so check it out [here](https://app.hyve.works/)!!!

We have